
/*body{
	
	margin: 20px;
	background-image: url("../img/bg.jpg");
	word-wrap:break-word;
}*/

#container{
	margin-left	: 200px;
	padding: 20px;
	background-color:#dadeec ;

	width:800px;
	height: auto;
	text-align: center;
	border-radius: 4px;
}
@font-face {
   font-family: IndieFlower;
   src: url(../font/IndieFlower.ttf);
}
#menu{
		padding-left: 120px;
}
#menu a{
	font-family: arial;
	background-color:#F1B764;
	color:white;
	text-decoration: none;
	border-radius: 12px 12px 0px 0px;
	padding: 10px;
}
#menu a:hover{
	background-color:#F0AD4E;
	color:white;
	text-decoration: none;
	border-radius: 12px 12px 0px 0px;
	padding: 10px;
}
#menu a:{
	background-color:#5cb85c;
	color:white;
	text-decoration: none;
	border-radius: 12px 12px 0px 0px;
	padding: 10px;
	
}
#submit{
	background:linear-gradient(#db705a, #d45944);
	box-shadow: 0 0 3px -1px #000000;
	border-radius:3px;
	width:80px;
	height: 30px;
	color:white;
	border: none;
}
table{
	border: 2px solid #4C4C4C;
}
table,th,td{
	border-collapse: collapse;
	margin: 0 auto 0 auto;
	border-bottom: 2px solid #4C4C4C;
	padding: 15px;
	color:#4C4C4C;
	
}
th{
	font-family: arial;
}

#form1{
	width: 80%;
	margin: 0 auto 0 auto;
}

#form{
	margin-left: 260px;	
	text-indent: left;
	text-align: left;
	width:100px;

}
form input{
	width: 300px;
	height: 35px;


}
#checkbox{
	height: 15px;
	width:15px;
}
h1{
	color: #5cb85c;
	font-family: Droid Sans;
	
}
button{
	background:linear-gradient(#db705a, #d45944);
	box-shadow: 0 0 3px -1px #000000;
	border-radius:3px;
	width:80px;
	height: 30px;
	border-radius: 5px;
	box-shadow: 1px 1px 4px 0px black;
	color:white;
	border: none;
}
#textbox{

}

#description{
	max-width:250px;
	word-wrap:break-word;
	font-size:15px;
}
a{
	text-decoration: none;
	color: inherit;

}
#name{
	float: right;
}
#filter #submit{
	width:25px;
	height: 20px;
}

#filter {
	border: none;
	margin: 0 auto 0 auto;
	border-bottom: none;
	padding: 5px;
}